backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
docopt==0.6.2
idna==2.10
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
numpy==1.20.1
opencv-python==4.5.1.48
parso==0.8.1
pickleshare==0.7.5
Pillow==8.1.2
pipreqs==0.4.10
prompt-toolkit==3.0.17
pure-python-adb==0.3.0.dev0
Pygments==2.8.1
requests==2.25.1
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
yarg==0.1.9
